@model IEnumerable<ASasitharan_NETD3202_Lab4.Models.book>
@{
    ViewData["Title"] = "Appraised";
}

<!DOCTYPE HTML>

<html>
<!--Name: Ashok Sasitharan-->
<!--Student Number: 100745484-->
<!--Date: November 17 2020-->
<!--NETD3202 Lab 4-->
<head>

    <title>Appraise Your Textbook!</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />

</head>


<body>

    <h1>Students4CheapTexts <img src="~/Images/logo.png" width="150" height="100" /></h1>

    <!--Nav bar-->
    <ul>
        <li><a href="~/Home/Index">Home</a></li>
        <li><a class="active" href="~/Home/Appraise">Appraise</a></li>
        <li><a href="~/Home/AppraiseList">View Appraisals</a></li>


    </ul>

    <h3> @ViewData["Message"]</h3>

    

</body>


</html>



