
    @model IEnumerable<ASasitharan_NETD3202_Lab4.Models.book>
@{
    ViewData["Title"] = "View Appraisals";
}
<!DOCTYPE html>
<html>
<!--Name: Ashok Sasitharan-->
<!--Student Number: 100745484-->
<!--Date: November 17 2020-->
<!--NETD3202 Lab 4-->
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <title>Appraise Your Textbook</title>
</head>
<body>
    <h1>Students4CheapTexts <img src="~/Images/logo.png" width="150" height="100" /></h1>

    <!--Nav bar-->
    <ul>
        <li><a href="~/Home/Index">Home</a></li>
        <li><a href="~/Home/Appraise">Appraise</a></li>
        <li><a class="active" a href="~/Home/AppraiseList">View Appraisals</a></li>


    </ul>

    <!--Loop through and display the items in the list-->
    @foreach (var item in Model)
    {
        <p>@item.ToString()</p>

    }



</body>

</html>