
@{
    ViewData["Title"] = "Failure";
}

<!DOCTYPE HTML>

<html>
<!--Name: Ashok Sasitharan-->
<!--Student Number: 100745484-->
<!--Date: November 17 2020-->
<!--NETD3202 Lab 4-->
<head>
    <title>Appraise Your Textbook!</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />


</head>


<body>

    <h1>Students4CheapTexts</h1>
    <!--Nav bar-->
    <ul>
        <li><a class="active" href="~/Home/Index">Home</a></li>
        <li><a href="~/Home/Appraise">Appraise</a></li>


    </ul>
    <h3> The textbook could not be appraised.</h3>


</body>

</html>
