
@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<!--Name: Ashok Sasitharan-->
<!--Student Number: 100745484-->
<!--Date: November 17 2020-->
<!--NETD3202 Lab 4-->
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <title>Appraise Your Textbook</title>
</head>
<body>
    <h1>Students4CheapTexts</h1>
    <!--Nav bar-->
    <ul>
        <li><a class="active" href="~/Home/Index">Home</a></li>
        <li><a href="~/Home/Appraise">Appraise</a></li>


    </ul>

    <img src="~/Images/logo.png"
         alt="Logo" height="90" width="200" />

    <p>
        Students4CheapTextbooks is a student group focused on bringing you the cheapest
        possible price for a textbook.<br /> Did you know, that the average student spends $600 on textbooks per semester.<br />
        Our focus is to try and bring that down. If you have a used textbook to sell, click on the appraise button in the nav
        bar above and we will get you a price!
    </p>
</body>

</html>